<template>
  <div class="q-pa-md">

    <q-table :columns="columns" :data="data" :rows-per-page-options="[0]" row-key="id" separator="cell" :hide-pagination="true">
		<template v-slot:top="props">
        <span :props="props" style='font-weight: bold'>$$title</span>
      </template>      
	  <template v-slot:header="props">
        $$q-header-tr
      </template>
	  <template v-slot:bottom-row>
        $$q-footer-tr
      </template>
    </q-table>
  </div>
</template>

<script>
export default {
  name: 'LayoutDefault',
  data() {
    return {
      columns: [$$q-table-columns],
      data: [$$q-table-data]
    }
  },
  methods: {}
}
</script>
<style>
</style>

