<template>
  <div class="q-pa-md">

    <q-table :columns="columns" :data="data1" :loading="loading" row-key="id" separator="cell">
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th colspan=1 rowspan=3 width=68>№</q-th>
          <q-th colspan=1 rowspan=3 width=68>Ҳудуд</q-th>
          <q-th colspan=1 rowspan=3 width=68>Жами аҳоли сони</q-th>
          <q-th colspan=8 rowspan=1 width=68>Жами ҳисобга олинган жиноятлар</q-th>
        </q-tr>
        <q-tr>
          <q-th colspan=1 rowspan=2 width=68>ЖАМИ</q-th>
          <q-th colspan=1 rowspan=2 width=68>100 минг аҳолига</q-th>
          <q-th colspan=2 rowspan=1 width=68>Унча оғир бўлмаган</q-th>
          <q-th colspan=2 rowspan=1 width=68>Оғир</q-th>
          <q-th colspan=2 rowspan=1 width=68>Ўта оғир</q-th>
        </q-tr>
        <q-tr>
          <q-th colspan=1 rowspan=1 width=68>жами</q-th>
          <q-th colspan=1 rowspan=1 width=68>Салмоғи %</q-th>
          <q-th colspan=1 rowspan=1 width=68>жами</q-th>
          <q-th colspan=1 rowspan=1 width=68>Салмоғи %</q-th>
          <q-th colspan=1 rowspan=1 width=68>жами</q-th>
          <q-th colspan=1 rowspan=1 width=68>Салмоғи %</q-th>
        </q-tr>
      </template>
    </q-table>

  </div>
</template>
<script>
export default {
  name: 'LayoutDefault',
  data() {
    return {
      loading: false,
      filter: '',
      rowCount: 10,
      selectedRows: [],
      columns: [
        {
          name: 'desc',
          required: true,
          label: 'Dessert (100g serving)',
          align: 'left',
          field: row => row.name,
          sortable: true,
        },
        {name: 'calories', align: 'center', label: 'Calories', field: 'calories', sortable: true},
        {name: 'calories', align: 'center', label: 'Calories', field: 'calories', sortable: true},
        {name: 'calories', align: 'center', label: 'Calories', field: 'calories', sortable: true},
        {name: 'calories', align: 'center', label: 'Calories', field: 'calories', sortable: true},
        {name: 'fat', label: 'Fat (g)', field: 'fat', sortable: true}
      ],
      data: [
        {
          id: 1,
          name: 'Frozen Yogurt',
          sortSelected: false,
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          sodium: 87,
          calcium: '14%',
          iron: '1%'
        },
        {
          id: 2,
          name: 'Ice cream sandwich',
          sortSelected: false, // Needs initialization!
          calories: 237,
          fat: 9.0,
          carbs: 37,
          protein: 4.3,
          sodium: 129,
          calcium: '8%',
          iron: '1%'
        },
        {
          id: 3,
          name: 'Eclair',
          sortSelected: false, // Needs initialization!
          calories: 262,
          fat: 16.0,
          carbs: 23,
          protein: 6.0,
          sodium: 337,
          calcium: '6%',
          iron: '7%'
        },
        {
          id: 4,
          name: 'Cupcake',
          sortSelected: false, // Needs initialization!
          calories: 305,
          fat: 3.7,
          carbs: 67,
          protein: 4.3,
          sodium: 413,
          calcium: '3%',
          iron: '8%'
        },
        {
          id: 5,
          name: 'Gingerbread',
          sortSelected: false, // Needs initialization!
          calories: 356,
          fat: 16.0,
          carbs: 49,
          protein: 3.9,
          sodium: 327,
          calcium: '7%',
          iron: '16%'
        },
        {
          id: 6,
          name: 'Jelly bean',
          sortSelected: false, // Needs initialization1
          calories: 375,
          fat: 0.0,
          carbs: 94,
          protein: 0.0,
          sodium: 50,
          calcium: '0%',
          iron: '0%'
        },
        {
          id: 7,
          name: 'Lollipop',
          sortSelected: false, // Needs initialization!
          calories: 392,
          fat: 0.2,
          carbs: 98,
          protein: 0,
          sodium: 38,
          calcium: '0%',
          iron: '2%'
        },
        {
          id: 8,
          name: 'Honeycomb',
          sortSelected: false, // Needs initialization!
          calories: 408,
          fat: 3.2,
          carbs: 87,
          protein: 6.5,
          sodium: 562,
          calcium: '0%',
          iron: '45%'
        },
        {
          id: 9,
          name: 'Donut',
          sortSelected: false, // Needs initialization!
          calories: 452,
          fat: 25.0,
          carbs: 51,
          protein: 4.9,
          sodium: 326,
          calcium: '2%',
          iron: '22%'
        },
        {
          id: 10,
          name: 'KitKat',
          sortSelected: false, // Needs initialization!
          calories: 518,
          fat: 26.0,
          carbs: 65,
          protein: 7,
          sodium: 54,
          calcium: '12%',
          iron: '6%'
        }
      ],
    }
  },
  methods: {}
}
</script>
<style>
</style>

