<template>
  <div class="q-pa-md">

    <q-table :columns="columns" :data="data" :hide-pagination="true" :loading="loading" row-key="id" separator="cell">
      <template v-slot:top="props">
        <span :props="props" style='font-weight: bold'></span>
      </template>
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th colspan=1 rowspan=3 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>№"</q-th>
          <q-th colspan=1 rowspan=3 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=130>Ҳу`ду'д</q-th>
          <q-th colspan=1 rowspan=3 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>Жами аҳоли сони</q-th>
          <q-th colspan=8 rowspan=1 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>Жами ҳисобга олинган
            жиноятлар
          </q-th>
          <q-th colspan=8 rowspan=1 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>Олдини олиш мумкин
            бўлган жиноятлар
          </q-th>
          <q-th colspan=4 rowspan=1 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>Аниқланадиган
            жиноятлар
          </q-th>
        </q-tr>
        <q-tr>
          <q-th colspan=1 rowspan=2 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>ЖАМИ</q-th>
          <q-th colspan=1 rowspan=2 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>100 минг аҳолига</q-th>
          <q-th colspan=2 rowspan=1 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>Унча оғир бўлмаган
          </q-th>
          <q-th colspan=2 rowspan=1 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>Оғир</q-th>
          <q-th colspan=2 rowspan=1 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>Ўта оғир</q-th>
          <q-th colspan=1 rowspan=2 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>ЖАМИ</q-th>
          <q-th colspan=1 rowspan=2 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>100 минг аҳолига</q-th>
          <q-th colspan=2 rowspan=1 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>Ўнча оғир бўлмаган
          </q-th>
          <q-th colspan=2 rowspan=1 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>Оғир</q-th>
          <q-th colspan=2 rowspan=1 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>Ўта оғир</q-th>
          <q-th colspan=1 rowspan=2 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>ЖАМИ</q-th>
          <q-th colspan=1 rowspan=2 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>100 минг аҳолига</q-th>
          <q-th colspan=2 rowspan=1 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>Оғир ва ўта оғир</q-th>
        </q-tr>
        <q-tr>
          <q-th colspan=1 rowspan=1 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>жами</q-th>
          <q-th colspan=1 rowspan=1 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>Салмоғи %</q-th>
          <q-th colspan=1 rowspan=1 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>жами</q-th>
          <q-th colspan=1 rowspan=1 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>Салмоғи %</q-th>
          <q-th colspan=1 rowspan=1 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>жами</q-th>
          <q-th colspan=1 rowspan=1 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>Салмоғи %</q-th>
          <q-th colspan=1 rowspan=1 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>жами</q-th>
          <q-th colspan=1 rowspan=1 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>Салмоғи %</q-th>
          <q-th colspan=1 rowspan=1 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>жами</q-th>
          <q-th colspan=1 rowspan=1 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>Салмоғи %</q-th>
          <q-th colspan=1 rowspan=1 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>жами</q-th>
          <q-th colspan=1 rowspan=1 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>Салмоғи %</q-th>
          <q-th colspan=1 rowspan=1 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>жами</q-th>
          <q-th colspan=1 rowspan=1 style="border-left: 1px solid rgba(0, 0, 0, 0.12)" width=68>Салмоғи %</q-th>
        </q-tr>
      </template>
      <template v-slot:bottom-row>

      </template>
    </q-table>
  </div>
</template>

<script>
export default {
  name: 'LayoutDefault',
  data() {
    return {
      columns: [{name: 'col1', align: 'center', field: 'col1'}, {
        name: 'col2',
        align: 'left',
        field: 'col2'
      }, {name: 'col3', align: 'right', field: 'col3'}, {name: 'col4', align: 'center', field: 'col4'}, {
        name: 'col5',
        align: 'center',
        field: 'col5'
      }, {name: 'col6', align: 'center', field: 'col6'}, {name: 'col7', align: 'center', field: 'col7'}, {
        name: 'col8',
        align: 'center',
        field: 'col8'
      }, {name: 'col9', align: 'center', field: 'col9'}, {
        name: 'col10',
        align: 'center',
        field: 'col10'
      }, {name: 'col11', align: 'center', field: 'col11'}, {
        name: 'col12',
        align: 'center',
        field: 'col12'
      }, {name: 'col13', align: 'center', field: 'col13'}, {
        name: 'col14',
        align: 'center',
        field: 'col14'
      }, {name: 'col15', align: 'center', field: 'col15'}, {
        name: 'col16',
        align: 'center',
        field: 'col16'
      }, {name: 'col17', align: 'center', field: 'col17'}, {
        name: 'col18',
        align: 'center',
        field: 'col18'
      }, {name: 'col19', align: 'center', field: 'col19'}, {
        name: 'col20',
        align: 'center',
        field: 'col20'
      }, {name: 'col21', align: 'center', field: 'col21'}, {
        name: 'col22',
        align: 'center',
        field: 'col22'
      }, {name: 'col23', align: 'center', field: 'col23'}],
      data: [{
        'col1': "1",
        'col2': "Тошкент ш. Ҳу`ду'д",
        'col3': "0",
        'col4': "0",
        'col5': "0",
        'col6': "0",
        'col7': "0",
        'col8': "0",
        'col9': "0",
        'col10': "0",
        'col11': "0",
        'col12': "0",
        'col13': "0",
        'col14': "0",
        'col15': "0",
        'col16': "0",
        'col17': "0",
        'col18': "0",
        'col19': "0",
        'col20': "0",
        'col21': "0",
        'col22': "0",
        'col23': "0"
      }, {
        'col1': "2",
        'col2': "Тошкент в.",
        'col3': "0",
        'col4': "0",
        'col5': "0",
        'col6': "0",
        'col7': "0",
        'col8': "0",
        'col9': "0",
        'col10': "0",
        'col11': "0",
        'col12': "0",
        'col13': "0",
        'col14': "0",
        'col15': "0",
        'col16': "0",
        'col17': "0",
        'col18': "0",
        'col19': "0",
        'col20': "0",
        'col21': "0",
        'col22': "0",
        'col23': "0"
      }, {
        'col1': "3",
        'col2': "Самарқанд",
        'col3': "0",
        'col4': "0",
        'col5': "0",
        'col6': "0",
        'col7': "0",
        'col8': "0",
        'col9': "0",
        'col10': "0",
        'col11': "0",
        'col12': "0",
        'col13': "0",
        'col14': "0",
        'col15': "0",
        'col16': "0",
        'col17': "0",
        'col18': "0",
        'col19': "0",
        'col20': "0",
        'col21': "0",
        'col22': "0",
        'col23': "0"
      }, {
        'col1': "4",
        'col2': "Сирдарё",
        'col3': "0",
        'col4': "0",
        'col5': "0",
        'col6': "0",
        'col7': "0",
        'col8': "0",
        'col9': "0",
        'col10': "0",
        'col11': "0",
        'col12': "0",
        'col13': "0",
        'col14': "0",
        'col15': "0",
        'col16': "0",
        'col17': "0",
        'col18': "0",
        'col19': "0",
        'col20': "0",
        'col21': "0",
        'col22': "0",
        'col23': "0"
      }, {
        'col1': "5",
        'col2': "Жиззах",
        'col3': "0",
        'col4': "0",
        'col5': "0",
        'col6': "0",
        'col7': "0",
        'col8': "0",
        'col9': "0",
        'col10': "0",
        'col11': "0",
        'col12': "0",
        'col13': "0",
        'col14': "0",
        'col15': "0",
        'col16': "0",
        'col17': "0",
        'col18': "0",
        'col19': "0",
        'col20': "0",
        'col21': "0",
        'col22': "0",
        'col23': "0"
      }, {
        'col1': "6",
        'col2': "Бухоро",
        'col3': "0",
        'col4': "0",
        'col5': "0",
        'col6': "0",
        'col7': "0",
        'col8': "0",
        'col9': "0",
        'col10': "0",
        'col11': "0",
        'col12': "0",
        'col13': "0",
        'col14': "0",
        'col15': "0",
        'col16': "0",
        'col17': "0",
        'col18': "0",
        'col19': "0",
        'col20': "0",
        'col21': "0",
        'col22': "0",
        'col23': "0"
      }, {
        'col1': "7",
        'col2': "Навоий",
        'col3': "0",
        'col4': "0",
        'col5': "0",
        'col6': "0",
        'col7': "0",
        'col8': "0",
        'col9': "0",
        'col10': "0",
        'col11': "0",
        'col12': "0",
        'col13': "0",
        'col14': "0",
        'col15': "0",
        'col16': "0",
        'col17': "0",
        'col18': "0",
        'col19': "0",
        'col20': "0",
        'col21': "0",
        'col22': "0",
        'col23': "0"
      }, {
        'col1': "8",
        'col2': "Фарғона",
        'col3': "0",
        'col4': "0",
        'col5': "0",
        'col6': "0",
        'col7': "0",
        'col8': "0",
        'col9': "0",
        'col10': "0",
        'col11': "0",
        'col12': "0",
        'col13': "0",
        'col14': "0",
        'col15': "0",
        'col16': "0",
        'col17': "0",
        'col18': "0",
        'col19': "0",
        'col20': "0",
        'col21': "0",
        'col22': "0",
        'col23': "0"
      }, {
        'col1': "9",
        'col2': "Андижон ",
        'col3': "0",
        'col4': "0",
        'col5': "0",
        'col6': "0",
        'col7': "0",
        'col8': "0",
        'col9': "0",
        'col10': "0",
        'col11': "0",
        'col12': "0",
        'col13': "0",
        'col14': "0",
        'col15': "0",
        'col16': "0",
        'col17': "0",
        'col18': "0",
        'col19': "0",
        'col20': "0",
        'col21': "0",
        'col22': "0",
        'col23': "0"
      }, {
        'col1': "10",
        'col2': "Наманган",
        'col3': "0",
        'col4': "0",
        'col5': "0",
        'col6': "0",
        'col7': "0",
        'col8': "0",
        'col9': "0",
        'col10': "0",
        'col11': "0",
        'col12': "0",
        'col13': "0",
        'col14': "0",
        'col15': "0",
        'col16': "0",
        'col17': "0",
        'col18': "0",
        'col19': "0",
        'col20': "0",
        'col21': "0",
        'col22': "0",
        'col23': "0"
      }, {
        'col1': "11",
        'col2': "Сурхондарё",
        'col3': "0",
        'col4': "0",
        'col5': "0",
        'col6': "0",
        'col7': "0",
        'col8': "0",
        'col9': "0",
        'col10': "0",
        'col11': "0",
        'col12': "0",
        'col13': "0",
        'col14': "0",
        'col15': "0",
        'col16': "0",
        'col17': "0",
        'col18': "0",
        'col19': "0",
        'col20': "0",
        'col21': "0",
        'col22': "0",
        'col23': "0"
      }, {
        'col1': "12",
        'col2': "Қашқадарё",
        'col3': "0",
        'col4': "0",
        'col5': "0",
        'col6': "0",
        'col7': "0",
        'col8': "0",
        'col9': "0",
        'col10': "0",
        'col11': "0",
        'col12': "0",
        'col13': "0",
        'col14': "0",
        'col15': "0",
        'col16': "0",
        'col17': "0",
        'col18': "0",
        'col19': "0",
        'col20': "0",
        'col21': "0",
        'col22': "0",
        'col23': "0"
      }, {
        'col1': "13",
        'col2': "Хоразм ",
        'col3': "0",
        'col4': "0",
        'col5': "0",
        'col6': "0",
        'col7': "0",
        'col8': "0",
        'col9': "0",
        'col10': "0",
        'col11': "0",
        'col12': "0",
        'col13': "0",
        'col14': "0",
        'col15': "0",
        'col16': "0",
        'col17': "0",
        'col18': "0",
        'col19': "0",
        'col20': "0",
        'col21': "0",
        'col22': "0",
        'col23': "0"
      }, {
        'col1': "14",
        'col2': "ҚҚР",
        'col3': "0",
        'col4': "0",
        'col5': "0",
        'col6': "0",
        'col7': "0",
        'col8': "0",
        'col9': "0",
        'col10': "0",
        'col11': "0",
        'col12': "0",
        'col13': "0",
        'col14': "0",
        'col15': "0",
        'col16': "0",
        'col17': "0",
        'col18': "0",
        'col19': "0",
        'col20': "0",
        'col21': "0",
        'col22': "0",
        'col23': "0"
      }, {
        'col1': "15",
        'col2': "Транспорт",
        'col3': "0",
        'col4': "0",
        'col5': "0",
        'col6': "0",
        'col7': "0",
        'col8': "0",
        'col9': "0",
        'col10': "0",
        'col11': "0",
        'col12': "0",
        'col13': "0",
        'col14': "0",
        'col15': "0",
        'col16': "0",
        'col17': "0",
        'col18': "0",
        'col19': "0",
        'col20': "0",
        'col21': "0",
        'col22': "0",
        'col23': "0"
      },]
    }
  },
  methods: {}
}
</script>
<style>
</style>


