<template>
<q-layout view="lHh Lpr lFf" class="bg-grey-2 text-dark">
  <TableData />
</q-layout>
</template>
<script>
import TableData from './components/TableData.vue'
export default {
  components: { TableData}
}
</script>
